.env
*.icloud

app/dist
/build
/dist
/out
/extra-resources/controller-script/bes.control.js
/extra-resources/controller-script/mods.js
/extra-resources/built-mods
/scripts/install

producer-tools-src

node_modules
.linaria-cache
.vscode/c_cpp_properties.json
local
.DS_Store

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio build files
**/HookDll/x64

!/dist/preload.js